---
name: release
on:
  push:
    branches:
      - main
jobs:
  tagpr:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ secrets.TAGPR_GITHUB_PAT }}
      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.51.2
      - run: aqua install
      - name: run tagpr
        run: tagpr
        env:
          GITHUB_TOKEN: ${{ secrets.TAGPR_GITHUB_PAT }}
