---
name: release
on:
  push:
    branches:
      - main
jobs:
  tagpr:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: ${{ secrets.TAGPR_GITHUB_PAT }}
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - run: aqua install
      - name: run tagpr
        run: tagpr
        env:
          GITHUB_TOKEN: ${{ secrets.TAGPR_GITHUB_PAT }}
